@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
	
* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
  font-style: normal;
}

.tgap { margin-top: 10px; }
.lgap { margin-left: 10px; }
.center { text-align: center; }
.fit-width { width: fit-content; }
.underline { text-decoration: underline; }
.bold { font-weight: 800; }

.large { font-size: large; }
.xlarge { font-size: x-large; }
.xxlarge { font-size: xx-large; }
.xxxlarge { font-size: xxx-large; }

a {
	text-decoration: none;
	color: black;
}

#content {
	width: 50%;
	margin: auto;
	/* background-color: #bdbdbd; */
}

#inner {
	width: 90%;
	margin: auto;
}

.icons-container {
	width: fit-content;
	margin: auto;
}

.img-container {
	display: flex;
	width: fit-content;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.gif {
	width: 50%;
}

@media (max-width: 1000px) {
	#content {
		width: 80%;

	}

}
